<div class="container" *ngIf="shoppingCartItems.length != 0">
  <div class="row">
    <div class="col-md-10"><b>Name</b></div>
    <div class="col-md-2"><b>Price</b></div>
  </div>
  <app-shopping-cart-item *ngFor="let item of shoppingCartItems" [item]="item">
  </app-shopping-cart-item>
  <hr />
  <div class="row">
      <div class="col-md-10"><b>Total</b></div>
      <div class="col-md-2"><b>{{ total }}</b></div>
  </div>
</div>

<div *ngIf="shoppingCartItems.length === 0">
  Buy something nice!
</div>
