<div class="container" *ngIf="shoppingCartItems.length != 0">
  <div class="row">
    <div class="col-md-6"><b>Name</b></div>
    <div class="col-md-2"><b>Quantity</b></div>
    <div class="col-md-2"><b>Price</b></div>
    <div class="col-md-2"><b>Remove</b></div>
  </div>
  <app-shopping-cart-item *ngFor="let item of shoppingCartItems"
  [item]="item"
  (removeItem)="onRemoveItem($event)">
  </app-shopping-cart-item>
  <hr />
  <div class="row">
      <div class="col-md-8"><b>Total</b></div>
      <div class="col-md-2"><b>{{ total | currency: 'EUR' }}</b></div>
      <div class="col-md-2"></div>
  </div>
</div>

<div *ngIf="shoppingCartItems.length === 0">
  Buy something nice!
</div>
